@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

:root {
    --bg: linear-gradient(to bottom, #f8f7fe, #d7e1fd);
    --text-color: #232a44;
    --text-color-light: #8b848b;
    --light-blue: #c3ccec; 
    --border-color: #eaecf3;
    --btn-color: #526291;
    --gray: #dce3f8;
    --completed-color: #dff0de;
    --task-completed-color: #083b25;
}

/* for whole documents */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* for hide scroll bar */
::-webkit-scrollbar {
    display: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--bg);
    font-family: 'Poppins' ;
}

.modal {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    cursor: pointer;
}

.modal.active {
    display: flex;
}
.inner-modal {
    z-index: 2;
    cursor: default;
    padding: 40px;
    background: white;
    border-radius: 10px;
    width: 60%;
    max-width: 300px;
}

.add-text {
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--text-color);
}

#task {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--border-color);
    margin: 10px 0;
}

#btn-task {
    background: var(--btn-color);
    color: white;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    max-width: 500px;
}

h1 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    color: var(--text-color-light);
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 5px;
}

.btn-container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.open-task {
    background: var(--light-blue);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 30px;
    height:30px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 3px 3px 4px var(--light-blue); 
}

.search-container {
    width: 100%;
    background: white;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
}

#search {
    padding: 8px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.filter-btn-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
    background: var(--gray);
}

.filter-btn {
    flex-grow: 1;
    border: 0;
    background: none;
    padding: 8px 0;
    border-radius: 5px;
    color: var(--btn-color);
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
}

.filter-btn.active {
    flex-grow: 1;
    border: 0;
    background: var(--btn-color);
    padding: 8px 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

#render-task {
    margin-top: 20px;
    background: white;
    border-radius: 15px;
}

.task-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.task-text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
}

.status-btn-open {
    padding: 5px 30px;
    background: var(--gray);
    color: var(--btn-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.status-btn-closed {
    padding: 5px 30px;
    background: var(--completed-color);
    color: var(--task-completed-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}